.pokemon-card{
    border-radius: 10px;
    background-color: rgba(184, 49, 49, 0.678);
    box-shadow: 0 0 15px -7px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.pokemon-card img {
    width: 90%;
}

.pokemon-card p {
    background-color: rgba(18, 18, 85, 0.863);
    color: white;
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}