.pokemon-card{
    width: 150px;
    height: 180px;
    border-radius: 10px;
    background-color: rgba(71, 71, 245, 0.863);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.pokemon-card img {
    width: 90%;
}

.pokemon-card p {
    background-color: rgba(18, 18, 85, 0.863);
    color: white;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}